body{
    margin: 0;
}
h1{
    background-color: pink;
    font-size:30px;
    float: right;
    padding: 10px;
    margin-top: 27px;
}
h2{
    background-color:blue;
    font-size:30px;
    float:left;
    padding: 10px;
    margin-top: 27px;
}
h3{
    background-color:green;
    font-size:30px;
    float:right;
    padding: 10px;
    margin-top: 27px;
}
h4{
  background-color:yellow;
  font-size:30px;
  float:left;
  padding: 10px;
  margin-top: 27px;
}